In [1]:
import pandas as pd

#read the data 
dataset = pd.read_csv("clean_data.csv")

#view data 
dataset

                                             clean_data        type
0     صدىقتى امال اقرئى تعلىقى سمحتى صدقىنى صدقىنى ا...      normal
1     فاهمه كىفف ربى نظملهم حىاتهم وراهم الطرىق الصح...      normal
2     اعتقد صهىونى امرىكى جاسوس الغرب ىرىد التجنىس ب...  aggressive
3     اعتقد صهىونى امرىكى جاسوس الغرب ىرىد التجنىس ب...  aggressive
4     اشد اعداء الاسلام انزل محمد ىسمون بمفتىىن وعلم...  aggressive
...                                                 ...         ...
4401                                              اوهدى      normal
4402                                                 طز  aggressive
4403                                             ترهدىن      normal
4404                                                تقو  aggressive
4405                                              واطىه  aggressive

[4406 rows x 2 columns]

In [3]:
 #Text length analysis 
def avg_word(sentence):
    words = sentence.split()
    if len(words) == 0:
        return 0
    return (sum(len(word) for word in words)/len(words))

In [6]:
import nltk
nltk.download('stopwords')
stop = set(nltk.corpus.stopwords.words("arabic"))

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\asus\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [7]:
dataset['word_count'] = dataset['clean_data'].apply(lambda x: len(str(x).split(" ")))
dataset['char_count'] = dataset['clean_data'].str.len() ## this also includes spaces
dataset['avg_char_per_word'] = dataset['clean_data'].apply(lambda x: avg_word(x))
dataset['stopwords'] = dataset['clean_data'].apply(lambda x: len([x for x in x.split() if x in stop]))
dataset = dataset.sort_values(by='word_count',ascending=[0])
dataset.head()

,clean_data,type,word_count,char_count,avg_char_per_word,stopwords
0,صدىقتى امال اقرئى تعلىقى سمحتى صدقىنى صدقىنى ا...,normal,383,2491,5.506527,0
1,فاهمه كىفف ربى نظملهم حىاتهم وراهم الطرىق الصح...,normal,234,1442,5.166667,1
2,اعتقد صهىونى امرىكى جاسوس الغرب ىرىد التجنىس ب...,aggressive,207,1346,5.507246,0
3,اعتقد صهىونى امرىكى جاسوس الغرب ىرىد التجنىس ب...,aggressive,207,1346,5.507246,0
4,اشد اعداء الاسلام انزل محمد ىسمون بمفتىىن وعلم...,aggressive,163,1000,5.141104,0

In [8]:
dataset_stat = dataset.mean(axis=0)
dataset_stat

C:\Users\asus\AppData\Local\Temp\ipykernel_9252\2218232480.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  dataset_stat = dataset.mean(axis=0)

word_count           12.073536
char_count           71.302996
avg_char_per_word     4.851792
stopwords             0.007717
dtype: float64